<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.springcore.constructorinjection.Certificate" name="cer">
        <constructor-arg name="name" value="Saksham"/>
    </bean>
    <bean class="com.springcore.constructorinjection.Person" name="person">
        <constructor-arg value="Saksham"/>
        <constructor-arg value="1"/>
        <constructor-arg ref="cer"/>
        <constructor-arg>
            <list>
                <value>10</value>
                <value>20</value>
            </list>
        </constructor-arg>
    </bean>

</beans>