<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="org.saksham.spring.Student" name="student1">
        <!--        Setter Injection-->
        <property name="studentId">
            <value>22344</value>
        </property>
        <property name="studentName">
            <value>Saksham</value>
        </property>
        <property name="studentAdd">
            <value>Kangra</value>
        </property>
    </bean>
</beans>